.banner {
  padding: 40px;
  width: 100%;
  height: 300px;
  margin: 20px 0;
}

.banner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-layout {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.banner-layout-title {
  color: white;
  word-spacing: 5px;
  letter-spacing: 1.5px;
  font-size: 40px;
}

.banner-layout-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  object-fit: cover;
}

/* !Media Q */

@media (max-width: 700px) {
  .banner-layout-title {
    font-size: 28px;
    word-spacing: 0;
    letter-spacing: 0;
  }
}


@media (max-width: 490px) {
  .banner-layout-title {
    font-size: 22px;
  }
}



@media (max-width: 412px) {
  .banner-layout-title {
    font-size: 18px;
   
  }
}
